<!DOCTYPE html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../public/css/styles.css" th:href="@{/css/styles.css}" />
    <link rel="icon" href="../favicon.icon" th:href="@{/img/favicon.ico}" />
    <title></title>
</head>

<body>
<header th:replace="layout :: site-header">
<div class="container">

    <h3>Nithin Sylesh</h3>
    <p>Btech AI undergrad<b th:text="${execInfo.now.time}"></b></p>
    <a href="https://github.com/nithin-sylesh/nithin-sylesh.github.io"target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/nithin-sylesh-38a261213/"target="_blank">linkedin</a>
    <ul>
    
        <li>Software Developer</li>
        <li>A Machine Learning enthusiast, passionate to learn new technologies that can be implemented within the existing TECH</li>
        <li>AM.EN.U4AIE19044</li>
        <li>9072215124</li>
     </ul>   

    <div>
    <br>
    <a href="https://nithin-sylesh.github.io/tic07.github.io/">Tic Tac Toe</a>
    <a href="https://github.com/nithin-sylesh/wordle"target="_blank">Wordle</a>
</body>
</html>
